
*.index

*.properties

*.tree

*.fdt

*.fdx

*.fnm

*.frq

*.tii

*.tis

JAVA/.metadata/.plugins/org.eclipse.core.resources/.history/83/a034399eae5400151f9dad7a1c31ec12

JAVA/.metadata/.plugins/org.eclipse.core.resources/.history/85/10326abd3f5600151939a97c97d80de2

JAVA/.metadata/.plugins/org.eclipse.core.resources/.history/8f/20fb4fa7a2540015114dfda4f9b3a5d9

JAVA/.metadata/.plugins/org.eclipse.core.resources/.history/92/00ff8ecc3f5600151939a97c97d80de2

JAVA/.metadata/.plugins/org.eclipse.core.resources/.history/a/40a17ffe8c540015114dfda4f9b3a5d9

JAVA/.metadata/.plugins/org.eclipse.core.resources/.history/8d/60f70e723f5600151939a97c97d80de2

*.gen

*.zip

JAVA/.metadata/.plugins/org.eclipse.core.resources/.history/14/600fe8c7435600151939a97c97d80de2

JAVA/.metadata/.plugins/org.eclipse.core.resources/.history/17/d0677528a8540015114dfda4f9b3a5d9
